@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* { margin: 0; }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-family: Montserrat, sans-serif;
    background-color: #F3EAE3;
}

main {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 30px;
    display: flex;
}

.main-content {
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}
.main-content h1 {
    font-family: Fraunces, sans-serif;
    font-size: 2.1em;
    font-weight: 700;
}
.main-content strong {
    color: rgba(2, 81, 50, 0.7);
    font-family: Fraunces, sans-serif;
    font-size: 2.5em;
    font-weight: 700;
}
.main-content a {
    width: 95%;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(2, 81, 50, 0.8);
    color: white;
    font-weight: 700;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.main-content a:hover {
    background-color: rgba(2, 81, 50, 1);
}

.second-img {
    width: 20px;
}

.first-paragraph {
    text-transform: uppercase;
    letter-spacing: 0.25em;
}
.third-paragraph {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2em;
}
.third-paragraph span {
    text-decoration: rgba(0, 0, 0, 0.7) line-through;
}
.first-paragraph,
.second-paragraph,
.third-paragraph span {
    opacity: 0.5;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 768px) {
    main {
        max-width: 300px;
        flex-direction: column;
    }
    .first-img {
        max-width: 300px;
        border-radius: 10px 10px 0 0;
    }
}

@media screen and (min-width: 768px) {
    main {
        max-width: 600px;
        flex-direction: row;
    }
    .first-img {
        min-width: 300px;
        border-radius: 10px 0 0 10px;
    }
}